body {
	background-image: url("../images/art-art-materials-blank-416346.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 90vh;
	transform: rotate(-1deg);
}

h1 {
	font-weight: normal;
	text-align: right;
	font-family: Kosugi Maru, sans serif;
	font-size: 25px;
}

h2 {
	text-align: right;
	font-size: 20px;
	font-family: Courier, Sans Serif;
	color: black;
}

a {
	font-family: Archistico,Sans Serif;
	color: black;
	text-decoration: none;
}

p {
	font-family: Old Standard TT,Sans Serif;
	text-align: left;
	color: black;
	font-size: 20px;
}

ul {
	text-align: left;
	font-family: Courier,Sans Serif;
	width: 30px;
	margin: 0 auto;
	font-size: 13px;
	color: black;
	position: bottom-right;
}

.column{
	display:sticky;
	column-gap: 20px;
}

#totalcontent {
	padding: 12% 4% 12% 19%;
}

#links{
	column-count:2;
	column-gap:20px;
	margin-left:10%;
	margin-right:20%;
	text-align: center;
}

#slogan {
	text-align: right;
	font-size: 20px;
	font-family: Archistico, Courier New;
	color: black;
	font-style: italic;
}

#listy{
	position:relative;
	text-align: right;
}