* { margin: 0; padding: 0; }

body {
	background-image: url("../images/art-art-materials-blank-416346.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 90vh;
	transform: rotate(-1deg);
}

h1 {
	font-weight: normal;
	text-align: right;
	font-family: Kosugi Maru, sans serif;
	font-size: 25px;
}

h2 {
	font-size: 20px;
	font-family: Courier, Sans Serif;
	color: black;
	align-content:right;
}

a {
	font-family: Archistico,Sans Serif;
	color: black;
	text-decoration: none;
}

p {
	font-family: Old Standard TT,Sans Serif;
	text-align: left;
	color: black;
	font-size: 20px;
	max-width: 800px;
}

ul {
	text-align: right;
	font-family: Courier,Sans Serif;
	width: 30px;
	margin: 0 auto;
	font-size: 13px;
	color: black;
	position: bottom-right;
}

img {
	max-width:100%;
	max-height:100%;
}

header {
padding: 20px;
}

nav {
padding: 20px;
}

aside {
padding: 20px;
}

article {
padding: 20px;
}

footer {
padding: 20px;
}

section {
padding: 20px;
}

.wrapper {
	padding: 12% 15% 1% 13%;
}

#slogan {
	text-align: right;
	font-size: 20px;
	font-family: Archistico, Courier New;
	color: black;
	font-style: italic;
}

.listy{
	align-content: right;
	text-align: right;
}

#two-column {
	padding: 20px;
}

#left {
	padding: 20px;
	float: left;
	width: 30%;
}

#lefttwo {
	padding: 20px;
	float: left;
	width: 60%;
}

#left3 {
	padding: 20px;
	float: left;
	width: 40%;
	text-align:center;
}

#right {
	padding: 20px;
	float: right;
	width: 60%;
	height: 40%;
}

#righttwo {
	float: right;
	width: 10%;
}

#right3 {
	padding: 20px;
	float:right;
	width: 40%;
	text-align:center;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content:" ";
	clear: both;
	height: 0;
}